 /* seletor {
    Property: value;
}  */


* {
  
}

body{
    
    background-size:cover; /* 바디영역에 꽉차게 설정 */
    margin: 0px;
    
}
h2 > div > p { /* 스페이스바는 h2 안에 있는 p를 꾸미기 위한 관계 */
    color: red;
    text-align: center; /* 글자 정렬 */
    background-color:skyblue;
    border: 5px solid purple;
    cursor:pointer;
}
p{
    
    color: black;
}
nav{
    text-align: left;
}

li{
    list-style: none;
    display: inline-block;
    
}
a{
    cursor: pointer;
}

.webtext {
    border: 5px dashed green;


}

.active {
    border: 10px dashed red;
}

#div1 {
    
    text-align: center;
    line-height: 60px;
}

#div2 p {
    background: white;
    text-align: right;
}

h3 {
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

footer {
    background: lightcoral;
    clear: both;
    text-align: center;
}

nav {
    background: teal;
}

#div1 img {
    float: right;
    
}

.boxmodel{
    border: 5px solid red;
    display: inline-block;
    padding: 5px /* top */ 20px /* right */ 5px /* bottom */ 40px /* left */;
    margin: 0px 20px 0px 20px;
    width: 33px;
    height: 55px;
}

.section2  p {
    font-size:20px;
}

span{
    font-size:2em;
    font-weight: bold;
    font-style: italic;
}

img{
    width: 450px;
    height: 300px;
    margin: 10px;
    transition : all 1s;

}
img:hover{ /* 이미지 위에 커서 올렸을떄 이펙트 */
    transform: scale(1.1);
}

.container {
    display: flex; /* flexbox 중요하다 */
    flex-wrap: wrap;
    justify-content: center;
}

h1{
    font-family:fantasy;
    font-size :3em;
    border-bottom:2px solid green;
    width: 400px;
    text-align: center;
    border-right:2px solid green;
    box-shadow: 4px 4px 5px #888888;
    margin: 0px;

}